body {
    margin: 20px;
    font-family: sans-serif;
    background-color: #e0f7fa;
    background-image: radial-gradient(#b2ebf2 1px, transparent 1px);
    background-size: 20px 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    color: #003366;
}

p, li, td {
    font-family: sans-serif;
    color: #333333;
    font-size: 16px;
}

ul, ol {
    color: #333333;
    line-height: 1.6;
}

hr {
    border: 0;
    height: 3px;
    background-color: #003366;
}

a {
    color: #0056b3;
    transition: 0.3s;
}

a:hover {
    color: #ff4500;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
	border: 2px solid #003366;
}

th, td {
    border: 1px solid #003366;
    padding: 12px;
    text-align: left;
}


/* bonus */

.question-block, 
tr {
    display: none;
}

.question-block:has(a:target) {
    display: block;
}

.question-block:has(a:target) table {
    display: table;
}

tr:has(a:target),
tr:has(a:target) + tr {
    display: table-row;
}



@keyframes gallop {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); } 
}

.bobbing {
    animation: gallop 0.2s infinite alternate;
}

#finishMessage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: bold;
        display: none;
        z-index: 10;
        text-align: center;
        
}

.horse-container {
    position: absolute;
    left: 0;
    width: 90px;
    height: 60px;
    text-align: center;
    transition: left 2s ease-out;
}

.horse-name {
    position: absolute;
    top: 13px; 
    left: 0;
    right: 0;
    z-index: 5; 
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px; 
    color: white;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
    white-space: nowrap;
}

#horsePreview {
    width: 200px;
    height: 200px;
    object-fit: contain; 
}

#stable-preview {
    text-align: center; 
    border: 2px dashed #003366; 
    padding: 10px;
    width: 200px; 
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
}

.main-content {
    flex: 1;
    padding: 20px;
    max-width: 800px; 
}

.sidebar {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}

.sidebar img {
    width: 100%;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    .sidebar {
        display: none;
    }
}


.stats-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

